In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
import pandas_ta as ta
import matplotlib.pyplot as plt
import scipy 
import yfinance as yf

In [2]:
bitcoin = yf.Ticker("BTC-USD")

# Fetch historical market data
#data = pd.DataFrame(bitcoin.history(period="10y"))  # Change the period as needed
data = pd.DataFrame(bitcoin.history(period='20y'))  # Change the period as needed

data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2014-09-17 00:00:00+00:00,465.864014,468.174011,452.421997,457.334015,21056800,0.0,0.0
2014-09-18 00:00:00+00:00,456.859985,456.859985,413.104004,424.440002,34483200,0.0,0.0
2014-09-19 00:00:00+00:00,424.102997,427.834991,384.532013,394.795990,37919700,0.0,0.0
2014-09-20 00:00:00+00:00,394.673004,423.295990,389.882996,408.903992,36863600,0.0,0.0
2014-09-21 00:00:00+00:00,408.084991,412.425995,393.181000,398.821014,26580100,0.0,0.0
...,...,...,...,...,...,...,...
2024-10-24 00:00:00+00:00,66653.703125,68798.960938,66454.101562,68161.054688,31414428647,0.0,0.0
2024-10-25 00:00:00+00:00,68165.296875,68722.156250,65521.792969,66642.414062,41469984306,0.0,0.0
2024-10-26 00:00:00+00:00,66628.734375,67317.921875,66360.593750,67014.695312,19588098156,0.0,0.0
2024-10-27 00:00:00+00:00,67023.476562,68221.312500,66847.226562,67929.296875,16721307878,0.0,0.0
2024-10-28 00:00:00+00:00,67939.539062,69212.742188,67560.382812,68942.265625,27274512384,0.0,0.0

In [5]:
ticker = "BTC-USD"
ydf = yf.download(ticker)
ydf.to_csv(f'y{ticker}.csv')

btc = pd.read_csv(f'y{ticker}.csv')
btc = btc.drop([0,1])
btc['Date'] = pd.to_datetime(btc['Close']).dt.date
btc= btc.set_index('Date')
btc = btc.drop(['Close'], axis = 1)
btc = btc.reset_index()
btc['Ticker'] = ticker
ydf

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2014-09-17,465.864014,468.174011,452.421997,457.334015,457.334015,21056800
2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200
2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700
2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600
2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100
...,...,...,...,...,...,...
2024-10-24,66653.703125,68798.960938,66454.101562,68161.054688,68161.054688,31414428647
2024-10-25,68165.296875,68722.156250,65521.792969,66642.414062,66642.414062,41469984306
2024-10-26,66628.734375,67317.921875,66360.593750,67014.695312,67014.695312,19588098156
2024-10-27,67023.476562,68221.312500,66847.226562,67929.296875,67929.296875,16721307878
2024-10-28,67939.539062,69212.742188,67560.382812,68942.265625,68942.265625,27274512384